写一个程序读取输入文件，该文件放在ST065.DATA(STRINGDA)。然后完成针对该文件中字符串的处理，并回答下列问题。将问题的答案输出到一个分区数据集的成员中保存。

 

问题如下：

文章中共有多少个单词？
文章中是否有回文词？如果有，他们都是什么回文词，分别出现在文章第几行？
文章中出现多少次标点符号？（一对引号算出现两次标点符号）
文章中共有多少个只包含6个字母的单词？
文章中出现多少个单词“THE”或“the”？
 

请使用公式"REMAINDER of account-id DEVIDED BY 5"计算出本次作业你的必答题。正确完成必答题只得基本分（60分），每多答一题多得10分。

 

源代码中必须提供的信息如下：

该程序完成的问题题号是几？
作者中文名字拼音
作者学号
作者的High Lever Qualifier
程序完成的时间(Use system provided functions to get year/month/day/hour/minute)?
 

压缩包中，针对每一个完成的问题都需要提交下列文档：

COBOL 程序源代码（TXT格式），以数据集的名称命名文件。
JCL 程序源代码（TXT格式），以数据集的名称命名文件。
SDSF里包含所有输出信息的首页界面截图（图片格式）
4，包含问题答案的输出数据集成员（TXT格式），以数据集的名称命名文件。

其他：ReadMe（如果你完成多道题目，解释所有提交的文件名和它的内容。或其他觉得有必要说明的内容）

 

作业完成过程中在自己帐号下生产的所有数据集均不得删除（需保留至学期末），以备作业批阅时检查。

 

重要说明：

1，单词出现XXX-XXXX的形式时算作一个单词，而不是两个。例如： UTF-16, single-byte都算是一个单词。

2，因需要用到循环语句，为避免死循环程序占满系统SPOOL卷。每人的JCL里请务必在JOB语句加上TIME=2来控制运行时间。否则成绩扣分。

3，程序代码添加必要的注释说明。

4，成绩将按照所提要求，分项给分。